
body {
  background-color: #ffffff;
}
  
#valinta {
  background-color: #ffffff;
  padding: 30px 40px;
  color: black;
  text-align: center;
  height: 890px;
  height: 100%;
}
  
#v2 {
  width: 250px;
}

#v1 {
  margin: auto;
  width: 50%;
  padding-top: 20px;
}

table, tr, td {
    border: 2px solid black;
    font-size: 20px;
    color: black;
  }